/* --- topDiv --- */
.topDiv {
    display: flex;
    justify-content: center;
    padding: 0 10px 0 10px;
    position: sticky;
    top: 0;
    background-color: white;
}

.topDiv-navbar {
    display: flex;
    width: 1200px;
    margin: 10px 0 10px 0;
    align-items: center;
    justify-content: center;
}

.topDiv-navbar-title {
    flex: none;
    width: 150px;
    color:#448899;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    margin-left: 0px;
}

.navbar-title-link {
    text-decoration: none;
}

.navbar-title-link:visited {
    color: #448899;
}

.topDiv-navbar-btn {
    display: flex;
    flex: auto;
    justify-content: end;
    align-items: center;
}

.topDiv-navbar-schedule {
    color:#666666;
    margin: 10px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
}

.topDiv-navbar-sign {
    color:#666666;
    margin: 10px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
}

.topDiv-navbar-signout {
    display: none;
    color:#666666;
    margin: 10px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
}

.topDiv-navbar-schedule:hover,
.topDiv-navbar-sign:hover,
.topDiv-navbar-signout:hover {
    color: #000000;
    cursor: pointer;
}
