body {
    font-family: "Noto Sans TC";
}

/* --- topDiv --- */
.topDiv {
    display: flex;
    justify-content: center;
}

.topDiv-navbar {
    display: flex;
    width: 1200px;
    margin: 10px 0 10px 0;
    align-items: center;
    justify-content: center;
}

.topDiv-navbar-title {
    flex: none;
    width: 150px;
    color:#448899;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    margin-left: 0px;
}

.topDiv-navbar-btn {
    display: flex;
    flex: auto;
    justify-content: end;
    /* margin-left: 100px; */
    align-items: center;
}

.topDiv-navbar-schedule {
    color:#666666;
    margin: 10px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
}

.topDiv-navbar-sign {
    color:#666666;
    margin: 10px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;

}

/* --- midDiv --- */
.midDiv {
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    height: 480px;
    background-image: url(../static/image/home-image.png);
    background-size: cover;
    background-position: center;
    text-align: center;
    margin-bottom: 40px;

}

.midDiv-container {
    width: 1180px;
    padding: 10px;
}

.midDiv-container-title {
    color: #f8f8f8;;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 15px;
    text-align: left;    
}

.midDiv-container-intro {
    color: #f8f8f8;;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 25px;
    text-align: left;

}

.midDiv-container-searchBar {
    display: flex;
    align-items: center;
    text-align: left;
}

.midDiv-container-searchBar-text {
    width: 370px;
    height: 16px;
    border-style: none;
    border-radius: 10px 0 0 10px;
    padding: 15px;
    color: #757575;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
}

.midDiv-container-searchBar-btn {
    width: 60px;
    height: 46px;
    padding: 8px 15px 8px 15px;
    border-style: none;
    border-radius: 0 10px 10px 0;
    background-color: #448899;
}

/* ---  mrt-listBar --- */
.mrtDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mrtDiv-mrtlistBar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1200px;
    height: 50px;
    margin-bottom: 20px;
}

.mrtDiv-mrtlistBar-leftArrow {
    width: 32px;
    margin: 9px 0 9px 15px;
}

.mrtDiv-mrtlistBar-leftImg {
    width: 32px;
}

.mrtDiv-mrtlistBar-rightArrow {
    width: 32px;
    margin: 9px 15px 9px 0;
}


.mrtDiv-mrtlistBar-rightImg {
    width: 32px;
}

.mrtDiv-mrtlistBar-content {
    width: 1106px;
}

/* --- bottomDiv --- */
.bottomDiv {
    display: flex;
    justify-content: center;
}

.bottomDiv-container {
    display: grid;
    justify-content: center;
    grid-template-columns: 270px 270px 270px 270px;
    gap: 30px
}

.bottomDiv-container-image {
    display: flex;
    height: 200px;
    background-image: url(../static/image/test.png);
    background-size: cover;
    background-position: center;
    border-style: solid;
    border-color: #e8e8e8;
    border-radius: 10px 10px 0 0;
}

.bottomDiv-container-attractionBackground {
    display: flex;
    align-items: center;
    margin-top: 160px;
    background-color: rgba(0,0,0,0.6);
    height: 40px;
    width: 100%;
}

.bottomDiv-container-attractionName {
    color: #FFFFFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    margin: 10px;
}

.bottomDiv-container-intro {
    display: flex;
    color: #757575;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    padding: 10px;
    border-style: solid;
    border-top: 0px;
    border-color: #e8e8e8;
    border-radius: 0 0 10px 10px;
}

.bottomDiv-container-mrt {
    width: calc(100% / 2);
    text-align: left;
    margin: 0px;
}

.bottomDiv-container-category {
    width: calc(100% / 2);
    text-align: right;
    margin: 0px;
}