<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taipei Travel</title>

    <!-- Custome css -->
    <link rel="stylesheet" href="../static/attraction_style.css">
</head>

<body>
    <div class="topDiv">
        <div class="topDiv-navbar">
            <div class="topDiv-navbar-title">
                <a class="navbar-title-link" href="/">台北一日遊</a>
            </div>
            <div class="topDiv-navbar-btn">
                <div class="topDiv-navbar-schedule">預定行程</div>
                <div class="topDiv-navbar-sign">登入/註冊</div>
            </div>
        </div>
    </div>

    <div class="attraction">
        <div class="attraction-booking">
            <div class="attraction-booking-imgGallery">
                <div class="attraction-imgGallery-elements">
                    <img src="https://www.travel.taipei/d_upload_ttn/sceneadmin/image/A0/B0/C0/D226/E920/F665/1f26af86-e907-44c9-b4d7-5c498dacfc6c.jpg" alt="">
                    <img src="https://www.travel.taipei/d_upload_ttn/sceneadmin/image/A0/B0/C1/D980/E373/F435/525bd753-2dbf-4869-9705-021731d78fa6.jpg" alt="">
                    <img src="ttps://www.travel.taipei/d_upload_ttn/sceneadmin/image/A0/B0/C0/D824/E483/F803/d7db91a8-53c8-491e-90d0-c0abd824a1b2.jpg" alt="">
                    <img src="https://www.travel.taipei/d_upload_ttn/sceneadmin/image/A0/B0/C1/D817/E864/F708/c8ad1ef2-e93d-40b7-a042-49a37e7c77e7.jpg" alt="">
                </div>

                <div class="attraction-imgGallery-arrow">
                    <div class="attraction-imgGallery-left"></div>
                    <div class="attraction-imgGallery-right"></div>
                </div>

                <div class="attraction-imgGallery-dotsContainer">
                    <img src="../static/image/attraction-dot-black.svg" alt="">
                    <img src="../static/image/attraction-dot-white.svg" alt="">
                    <img src="../static/image/attraction-dot-white.svg" alt="">
                </div>
                


            </div>
            <div class="attraction-booking-schedule">
                <p class="attraction-booking-name"></p>
                <p class="attraction-booking-CatMRT"></p>
                <div class="attraction-booking-menu">
                    <p class="attraction-booking-title">訂購導覽行程</p>
                    <p class="attraction-booking-intro">以此景點為中心的一日行程，帶您探索城市角落故事</p>
                    <form class="attraction-menu-form" action="">
                        <label for="date">選擇日期：</label>
                        <input type="date" name="date">
                        <br>
                        <div class="attraction-menu-interval">
                            <label for="interval">選擇時間：</label>
                            <input type="radio" name="interval" value="beforenoon" class="interval-beforenoon" onclick="feeExchange()" checked>
                            <label for="beforenoon" class="attraction-form-interval">上半天</label>
                            <input type="radio" name="interval" value="afternoon" class="interval-afternoon" onclick="feeExchange()">
                            <label for="beforenoon" class="attraction-form-interval">下半天</label>
                            <br>
                        </div>
                        <label for="fee">導覽費用：</label>
                        <span class="interval-fee">新台幣 2000 元</span>
                        <br>
                        <input type="submit" value="開始預約行程">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="detail-outer">
        <div class="detail">
            <div class="detail-intro">
            </div>

            <div class="detail-address">
                <div class="address-title">景點地址：</div>
                <div class="address-content"></div>
            </div>

            <div class="detail-transport">
                <div class="transport-title">交通方式：</div>
                <div class="transport-content"></div>
            </div>  
        </div>
    </div>

    <div class="footerDiv">
        <div class="footerDiv-text">COPYRIGHT © 2021 台北一日遊</div>
    </div>

    <!-- Custom script -->
    <script src="../static/attraction_javascript.js"></script>
    
</body>
</html>