<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taipei Travel</title>

    <!-- Custome css -->
    <link rel="stylesheet" href="../static/attraction_style.css">
</head>

<body>
    <div class="memberOuter">
        <div class="memberDiv">
            <div class="memberDiv-borderTop"></div>
            <div class="memberDiv-close" onclick="Close()"></div>
            <div class="memberDiv-Signup">
                <p class="memberTitle">註冊會員帳號</p>
                <div>
                    <input type="text" class="signup_user_name" placeholder="輸入姓名" required>
                </div>
                <div>
                    <input type="email" class = "signup_email" placeholder="輸入電子郵件" required>
                </div>
                <div>
                    <input type="password" class="signup_password" placeholder=輸入密碼 required> 
                </div>
                <div>
                    <input type="button" value="註冊新帳戶" onclick="SignUp()">
                </div>
                <div class="switch" onclick="SignInSwitch()">已經有帳戶了？點此登入</div>
            </div>

            <div class="memberDiv-Signin">
                <p class="memberTitle">登入會員帳號</p>
                <div>
                    <input type="email" class="signin_email" placeholder="輸入電子郵件" required>
                </div>
                <div>
                    <input type="password" class="signin_password" placeholder=輸入密碼 required> 
                </div>
                <div>
                    <input type="button" value="登入帳戶" onclick="SignIn()">
                </div>
                <div class="switch" onclick="SignUpSwitch()">還沒有帳戶？點此註冊</div>
            </div>
        </div>
    </div>

    {% include "header.html" %}

    <!-- <div class="topDiv">
        <div class="topDiv-navbar">
            <div class="topDiv-navbar-title">
                <a class="navbar-title-link" href="/">台北一日遊</a>
            </div>
            <div class="topDiv-navbar-btn">
                <div class="topDiv-navbar-schedule">預定行程</div>
                <div class="topDiv-navbar-sign" onclick="Member()">登入/註冊</div>
                <div class="topDiv-navbar-signout" onclick="SignOut()">登出系統</div>
            </div>
        </div>
    </div> -->

    <div class="attraction">
        <div class="attraction-booking">
            <div class="attraction-booking-imgGallery">
                <div class="attraction-imgGallery-elements">
                    <!-- dynamically create img by JS -->
                </div>

                <div class="attraction-imgGallery-arrow">
                    <div class="attraction-imgGallery-left" onclick="moveLeft()"></div>
                    <div class="attraction-imgGallery-right" onclick="moveRight()"></div>
                </div>

                <div class="attraction-imgGallery-dotsContainer">
                    <!-- dynamically create dots by JS -->
                </div>
            </div>

            <div class="attraction-booking-schedule">
                <p class="attraction-booking-name"></p>
                <p class="attraction-booking-CatMRT"></p>
                <div class="attraction-booking-menu">
                    <p class="attraction-booking-title">訂購導覽行程</p>
                    <p class="attraction-booking-intro">以此景點為中心的一日行程，帶您探索城市角落故事</p>
                    <form class="attraction-menu-form" action="">
                        <label for="date">選擇日期：</label>
                        <input type="date" name="date">
                        <br>
                        <div class="attraction-menu-interval">
                            <label for="interval">選擇時間：</label>
                            <input type="radio" name="interval" value="beforenoon" class="interval-beforenoon" onclick="feeExchange()" checked>
                            <label for="beforenoon" class="attraction-form-interval">上半天</label>
                            <input type="radio" name="interval" value="afternoon" class="interval-afternoon" onclick="feeExchange()">
                            <label for="beforenoon" class="attraction-form-interval">下半天</label>
                            <br>
                        </div>
                        <label for="fee">導覽費用：</label>
                        <span class="interval-fee">新台幣 2000 元</span>
                        <br>
                        <input type="submit" value="開始預約行程">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="detail-outer">
        <div class="detail">
            <div class="detail-intro">
            </div>

            <div class="detail-address">
                <div class="address-title">景點地址：</div>
                <div class="address-content"></div>
            </div>

            <div class="detail-transport">
                <div class="transport-title">交通方式：</div>
                <div class="transport-content"></div>
            </div>  
        </div>
    </div>

    <div class="footerDiv">
        <div class="footerDiv-text">COPYRIGHT © 2021 台北一日遊</div>
    </div>

    <!-- Custom script -->
    <script src="../static/attraction_javascript.js"></script>
    <script src="../static/member.js"></script>
    
</body>
</html>