<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taipei Travel</title>

    <!-- Custome css -->
    <link rel="stylesheet" href="../static/member.css">
    <link rel="stylesheet" href="../static/header.css">
    <link rel="stylesheet" href="../static/footer.css">
    <link rel="stylesheet" href="../static/booking.css">

</head>
<body>
    {% include "header.html" %}
    {% include "footer.html" %}

    <script src="../static/member.js"></script>
</body>
</html>