<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taipei Travel</title>

    <!-- Custome css -->
    <link rel="stylesheet" href="../static/member.css">
    <link rel="stylesheet" href="../static/header.css">
    <link rel="stylesheet" href="../static/footer.css">
    <link rel="stylesheet" href="../static/index.css">
</head>

<body>

    {% include "member.html" %}
    {% include "header.html" %}

    <div class="midDiv">
        <div class="midDiv-container">
            <div class="midDiv-container-title">輕鬆享受台北一日悠閒</div>
            <div class="midDiv-container-intro">探索每個角落，體驗城市的深度旅遊行程</div>
            <div class="midDiv-container-searchBar">
                <input class="midDiv-container-searchBar-text" type="text"
                placeholder="輸入景點名稱查詢">
                <button class="midDiv-container-searchBar-btn" onclick="searchKeyword()">
                    <img src="../static/image/home-attraction-search.png" alt="home-attraction-search">
                </button>
            </div>
        </div>
    </div>

    <div class="mrtDiv">
        <div class="mrtDiv-mrtlistBar">
            <div class="mrtDiv-mrtlistBar-leftArrow" onclick="moveRight()"></div>
            <div class="mrtDiv-mrtlistBar-content">
                <!-- <div class="mrtDiv-mrtlistBar-item">
                    item1
                </div> -->
            </div>
            <div class="mrtDiv-mrtlistBar-rightArrow" onclick="moveLeft()"></div>
        </div>
    </div>

    <div class="bottomDiv">
        <div class="bottomDiv-container">
            <!-- <div class="bottomDiv-container-element">
                <div class="bottomDiv-container-image">
                    <div class="bottomDiv-container-attractionBackground">
                        <div class="bottomDiv-container-attractionName">平安鐘</div>
                    </div>
                </div>
                <div class="bottomDiv-container-intro">
                    <p class="bottomDiv-container-mrt">忠孝復興</p>
                    <p class="bottomDiv-container-category">公共藝術</p>
                </div>
            </div> -->
        </div>
    </div>

    {% include "footer.html" %}

    <!-- Custom script -->
    <script src="../static/header.js"></script>
    <script src="../static/index.js"></script>

</body>
</html>