{% include "header.html" %}

<div class="topDiv">
    <div class="topDiv-navbar">
        <div class="topDiv-navbar-title">台北一日遊</div>
        <div class="topDiv-navbar-btn">
            <div class="topDiv-navbar-schedule">預定行程</div>
            <div class="topDiv-navbar-sign">登入/註冊</div>
        </div>
    </div>
</div>

<div class="midDiv">
    <div class="midDiv-container">
        <div class="midDiv-container-title">輕鬆享受台北一日悠閒</div>
        <div class="midDiv-container-intro">探索每個角落，體驗城市的深度旅遊行程</div>
        <div class="midDiv-container-searchBar">
            <input class="midDiv-container-searchBar-text" type="text"
            placeholder="輸入景點名稱查詢">
            <button class="midDiv-container-searchBar-btn">
                <img src="../static/image/home-attraction-search.png" alt="home-attraction-search">
            </button>
        </div>
    </div>
</div>

<div class="mrtDiv">
    <div class="mrtDiv-mrtlistBar">
        <div class="mrtDiv-mrtlistBar-leftArrow">
            <img class="mrtDiv-mrtlistBar-leftImg" src="../static/image/home-mrtbar-leftArrow.png" alt="home-mrtbar-leftArrow">
        </div>
        <div class="mrtDiv-mrtlistBar-content"></div>
        <div class="mrtDiv-mrtlistBar-rightArrow">
            <img class="mrtDiv-mrtlistBar-rightImg" src="../static/image/home-mrtbar-rightArrow.png" alt="home-mrtbar-rightArrow">
        </div>
    </div>
</div>

<div class="bottomDiv">
    <!-- <div class="bottomDiv-container">
        <div class="bottomDiv-container-element">
            <div class="bottomDiv-container-image">
                <div class="bottomDiv-container-attractionBackground">
                    <div class="bottomDiv-container-attractionName">平安鐘</div>
                </div>
            </div>
            <div class="bottomDiv-container-intro">
                <p class="bottomDiv-container-mrt">忠孝復興</p>
                <p class="bottomDiv-container-category">公共藝術</p>
            </div>
        </div>

    </div> -->
</div>



{% include "footer.html" %}