<div class="memberOuter">
    <div class="memberDiv">
        <div class="memberDiv-borderTop"></div>
        <div class="memberDiv-close" onclick="Close()"></div>
        <div class="memberDiv-Signup">
            <p class="memberTitle">註冊會員帳號</p>
            <div>
                <input type="text" class="signup_user_name" placeholder="輸入姓名" required>
            </div>
            <div>
                <input type="email" class = "signup_email" placeholder="輸入電子郵件" required>
            </div>
            <div>
                <input type="password" class="signup_password" placeholder=輸入密碼 required> 
            </div>
            <div>
                <input type="button" value="註冊新帳戶" onclick="SignUp()">
            </div>
            <div class="switch" onclick="SignInSwitch()">已經有帳戶了？點此登入</div>
        </div>

        <div class="memberDiv-Signin">
            <p class="memberTitle">登入會員帳號</p>
            <div>
                <input type="email" class="signin_email" placeholder="輸入電子郵件" required>
            </div>
            <div>
                <input type="password" class="signin_password" placeholder=輸入密碼 required> 
            </div>
            <div>
                <input type="button" value="登入帳戶" onclick="SignIn()">
            </div>
            <div class="switch" onclick="SignUpSwitch()">還沒有帳戶？點此註冊</div>
        </div>
    </div>
</div>